* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f3f6fa;
  display: flex;
  justify-content: center;
  padding: 30px;
  color: #333;
}

.container {
  max-width: 80vw;
  width: 100%;
}

.container h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 2rem;
  color: #222;
}

.tabela {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);

  table-layout: fixed;
}

.tabela thead {
  background: #0077cc;
  color: #fff;
}

.tabela th,
.tabela td {
  padding: 14px 18px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 25%;
  word-wrap: break-word;
}

.tabela th {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.tabela tbody tr:hover {
  background: #f0f8ff;
}


.tabela td {
  font-size: 0.95rem;
  line-height: 1.4;
  color: #444;
}


.tabela td.prevelika-vrednost {
    color: #DA0800;
    font-size: 1.05rem;
}